html {
  scroll-behavior: smooth;
}


.App {
  background-color: #FAF8EF;
  height: 100vh;
  width: 100vw;
}

.title {
  margin: 0;
}


body {
  margin: 0;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.game {
  max-width: 500px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}

.info {
  margin-top: 30px;
}

.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  color: #776e65;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}


.score_number {
  font-size: 25px;
  color: #FFFFFF;
  font-weight: 700;
  margin: 5px;
}

.score_button {
  background-color: #bbada0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95px;
  padding: 10px;
  border-radius: 3px;
  height: 40px;
  margin-top: 15px;
}

.score_button span {
  color: #eee4da;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
}

.restart {
  margin-top: 30px;
  background-color: #8f7a66;
  color: #f9f6f2;
  height: 40px;
  padding: 0px 20px;
  width: 145px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 3px;
  float: right;
  text-decoration: none;
  border: none;
}

.playingArea {
  width: 500px;
  height: 500px;
  background-color: #BBADA0;
  margin-top: 40px;
  border-radius: 5px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px 10px;
}

.square {
  border-radius: 5px;
  font-size: 55px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}



.empty_style {
  background-color: #CDC1B4;
}

@keyframes appear {
  0% {
    opacity: 0.2;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pop {
  0% {

    transform: scale(0);
  }

  50% {

    transform: scale(1.1);
  }

  100% {

    transform: scale(1);
  }
}

.appear {
  animation: appear 500ms ease;
}

.pop {
  animation: pop 500ms ease;
}

.two_style {
  background-color: #EEE4DA;
  color: #776e65;
}

.four_style {
  color: #776e65;
  background-color: #EEE1C9;
}

.eight_style {
  background-color: #F3B27A;
  color: #f9f6f2;
}

.sixteen_style {
  background-color: #F69664;
  color: #f9f6f2;
}

.thirtyTwo_style {
  background-color: #F77C5F;
  color: #F9F6F2;
}

.sixtyFour_style {
  background-color: #F75F3B;
  color: #F9F6F2;
}

.oneTwentyEight_style {
  background-color: #EDD073;
  color: #F9F6F2;
  font-size: 45px;
}

.twoFiftySix_style {
  color: #F9F6F2;
  background-color: #edcc62;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.190476);
  font-size: 45px;
}

.fiveTwenty_style {
  background-color: #EDC950;
  color: #F9F6F2;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.396825), inset 0 0 0 1px rgba(255, 255, 255, 0.238095);
  font-size: 45px;
}

.oneTwentyFour_style {
  background-color: #EDC53F;
  color: #F9F6F2;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.285714);
  font-size: 35px;
}

.twoFourtyEight_style {
  color: #f9f6f2;
  background: #edc22e;
  box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.555556), inset 0 0 0 1px rgba(255, 255, 255, 0.333333);
  font-size: 35px;
}

.win__screen {
  position: absolute;
  margin-top: 40px;
  width: 500px;
  height: 500px;
  padding: 15px;
  background-color: rgba(141, 118, 6, 0.6);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: appear 1000ms ease;
}

.lose__screen {
  background-color: rgba(33, 28, 4, 0.7);
}

.win__screen-wrapper {
  margin-bottom: 80px;
  width: 100%;
}

.win__title {
  font-size: 64px;
  line-height: 80px;
  letter-spacing: normal;
  color: #FFFFFF;
  text-align: center;
}

.game__buttons {
  border: none;
  cursor: pointer;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  background-color: #8F7A62;
  padding: 10px;
}

.buttons__wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}


@media (max-width: 720px) {

  .playingArea,
  .win__screen,
  .lose__screen {
    width: 450px;
    height: 450px;
  }

  .score {
    width: 450px;
  }

  .win__screen-wrapper {
    margin-bottom: 50px;
  }

}


@media (max-width: 600px) {

  .playingArea,
  .win__screen,
  .lose__screen {
    width: 400px;
    height: 400px;
    grid-auto-rows: minmax(90px, auto);
    margin-top: 30px;
  }

  .score {
    width: 400px;
  }

  .title {
    font-size: 60px;
  }

  .score_button {
    margin-top: 0;
  }

  .win__title {
    font-size: 50px;
  }

  .game__buttons {
    font-size: 26px;
    padding: 8px;
  }

  .square {
    font-size: 45px;
  }

  .oneTwentyEight_style,
  .twoFiftySix_style,
  .fiveTwenty_style {
    font-size: 40px;
  }

  .oneTwentyFour_style,
  .twoFourtyEight_style {
    font-size: 30px;
  }
}

@media (max-width: 480px) {

  .playingArea,
  .win__screen,
  .lose__screen {
    width: 350px;
    height: 350px;
    grid-auto-rows: minmax(80px, auto);
    margin-top: 50px;
  }

  .game__buttons {
    font-size: 22px;
  }

  .score {
    width: 350px;
  }

  .restart {
    margin-top: 20px;
  }

  .win__screen-wrapper {
    margin-bottom: 30px;
  }

  .square {
    font-size: 40px;
  }

  .win__title {
    font-size: 45px;
    line-height: 60px;
  }


  .oneTwentyEight_style,
  .twoFiftySix_style,
  .fiveTwenty_style {
    font-size: 35px;
  }

  .oneTwentyFour_style,
  .twoFourtyEight_style {
    font-size: 30px;
  }
}

@media (max-width: 420px) {
  html {
    overflow: hidden;
  }

  .playingArea,
  .win__screen,
  .lose__screen {
    width: 300px;
    height: 300px;
    grid-auto-rows: minmax(65px, auto);
  }

  .score {
    width: 300px;
  }

  .game__buttons {
    font-size: 18px;
    padding: 5px;
    line-height: 30px;
  }

  .title {
    font-size: 50px;
  }

  .restart {
    font-size: 16px;
    width: 120px;
  }

  .score_button {
    width: 60px;
  }

  .square {
    font-size: 35px;
  }

  .oneTwentyEight_style,
  .twoFiftySix_style,
  .fiveTwenty_style {
    font-size: 30px;
  }

  .oneTwentyFour_style,
  .twoFourtyEight_style {
    font-size: 25px;
  }
}